<!-- Behnaz Hajibandeh 
Student ID:301291057 
Web App Name: COMP229018-F2022-Midterm-301291057 -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">All rights reserved. COMP229 - Midterm Test</p>
        </div>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/javascripts/appclient.js"></script>    
</body>
</html>